<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Signup</servlet-name>
  	<display-name>Signup</display-name>
  	<description></description>
  	<servlet-class>com.FacebookWeb.controller.Signup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Signin</servlet-name>
  	<display-name>Signin</display-name>
  	<description></description>
  	<servlet-class>com.FacebookWeb.controller.Signin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update</servlet-name>
  	<display-name>Update</display-name>
  	<description></description>
  	<servlet-class>com.FacebookWeb.controller.Update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Profiledata</servlet-name>
  	<display-name>Profiledata</display-name>
  	<description></description>
  	<servlet-class>com.FacebookWeb.controller.Profiledata</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Userfeed</servlet-name>
  	<display-name>Userfeed</display-name>
  	<description></description>
  	<servlet-class>com.FacebookWeb.controller.Userfeed</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreatePost</servlet-name>
  	<display-name>CreatePost</display-name>
  	<description></description>
  	<servlet-class>com.FacebookWeb.controller.CreatePost</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProfile</servlet-name>
  	<display-name>DeleteProfile</display-name>
  	<description></description>
  	<servlet-class>com.FacebookWeb.controller.DeleteProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFriend</servlet-name>
  	<display-name>AddFriend</display-name>
  	<description></description>
  	<servlet-class>com.FacebookWeb.controller.AddFriend</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminControl</servlet-name>
  	<display-name>AdminControl</display-name>
  	<description></description>
  	<servlet-class>com.FacebookWeb.controller.AdminControl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Signup</servlet-name>
  	<url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Signin</servlet-name>
  	<url-pattern>/Signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update</servlet-name>
  	<url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Profiledata</servlet-name>
  	<url-pattern>/Profiledata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Userfeed</servlet-name>
  	<url-pattern>/Userfeed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreatePost</servlet-name>
  	<url-pattern>/CreatePost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProfile</servlet-name>
  	<url-pattern>/DeleteProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFriend</servlet-name>
  	<url-pattern>/AddFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminControl</servlet-name>
  	<url-pattern>/AdminControl</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
